<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepanshu.quiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".QBDetails" />
        <activity
            android:name=".User_Admin"
            android:label="@string/title_activity_user__admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Add_Questions" />
        <activity android:name=".TestDetails" />
        <activity android:name=".ViewTests" />
        <activity android:name=".ViewQuestionBank" />
        <activity android:name=".DisplayQB" />
        <activity android:name=".DisplayTest" />
        <activity android:name=".DisplayTest_ListItem" />
    </application>

</manifest>