<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepanshu.quiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" android:label="Login"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" android:parentActivityName=".Login" android:label="Register" />
        <activity android:name=".QBDetails" android:parentActivityName=".MainActivity" />
        <activity android:name=".Add_Questions" />
        <activity android:name=".Result_User" android:label="Result" android:parentActivityName=".UserActivity"/>
        <activity android:name=".TestDetails" android:parentActivityName=".MainActivity" />
        <activity android:name=".DisplayQB" android:parentActivityName=".MainActivity"/>
        <activity android:name=".DisplayTest" android:parentActivityName=".MainActivity"/>
        <activity android:name=".UserActivity" />
        <activity android:name=".StartTest" android:parentActivityName=".UserActivity" android:label="Test Details"/>
        <activity android:name=".Question" />
        <activity android:name=".TestResult" android:label="Test"/>
        <activity android:name=".AdminResults" android:label="Results" android:parentActivityName=".UserActivity"/>
    </application>

</manifest>